# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# State & Transient Data
*.tmp
*.log
BmsWipeSim/

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# Compiled Binaries
*.exe
*.elf
*.o
*.obj
bms_core
testsprite_tests/tmp/
testsprite_tests/tmp/config.json

# Local Databases
*.db
*.db-wal
*.db-shm
